@use "../../assets/theme/macbis-colors" as c;
@import url("https://fonts.googleapis.com/css?family=Open+Sans");

.datefield {
  .usa-hint,
  .usa-label {
    font-family: "Open Sans", sans-serif;
  }

  .usa-hint.input-error {
    color: c.$error;
  }

  .usa-date-picker {
    .calendar-button {
      background-color: transparent;
      border: 0;
    }

    .calendar-button:enabled {
      cursor: pointer;

      :hover {
        background-color: c.$gray-lightest;
      }
    }

    .react-calendar {
      position: absolute;
      font-family: "Open Sans", sans-serif;
      background-color: c.$gray-lightest;
      left: 188px;

      .react-calendar__navigation__arrow {
        font-size: 30px;
      }

      .react-calendar__month-view__weekdays__weekday > abbr {
        font-size: 16px;
        text-decoration: none;
      }

      .react-calendar__tile:not(.react-calendar__tile--active, :disabled, .range-start-end) {
        color: black;
      }

      .react-calendar__month-view__days__day--weekend,
      .react-calendar__month-view__days__day--neighboringMonth {
        color: rgba(16, 16, 16, 0.3);
      }

      .react-calendar__tile--active.react-calendar__month-view__days__day--weekend:not(:disabled) {
        color: white;
      }
    }

    .react-calendar__tile--now:not(.react-calendar__tile--active, .range-start-end, .range-selected),
    .grey-lightest {
      background-color: c.$gray-lightest;
    }
  }

  .range-selected,
  .range-selected:hover {
    background-color: c.$primary-lighter !important;
  }
  .range-start-end,
  .range-start-end:hover {
    background-color: c.$primary !important;
    color: white;
  }
}
