@use "../../assets/theme/macbis-colors" as c;

.usa-date-picker {
  .calendar-button {
    cursor: pointer;

    :hover {
      background-color: c.$gray-lightest;
    }
  }

  .react-calendar {
    background-color: c.$gray-lightest;
    left: 170px;

    .react-calendar__tile:not(.react-calendar__tile--active) {
      color: black;
    }
  }

  .react-calendar__tile--now,
  .grey-lightest {
    background-color: c.$gray-lightest;
  }
}
