@use "../../assets/theme/macbis-colors" as c;

.usa-button:disabled {
  cursor: default;
}

.cms-primary-background {
  background-color: c.$primary;
}

.cms-primary-text {
  color: c.$primary;
  box-shadow: 0 0 0 2px c.$primary;
}

.usa-button--secondary-outline {
  color: white;
  box-shadow: 0 0 0 2px white;
  background-color: transparent;

  &:hover {
    background-color: transparent;
    color: c.$gray-lightest;
  }

  &:active {
    background-color: #ffffff;
  }

  &:disabled,
  &:hover:disabled {
    background-color: transparent;
    color: c.$gray-light;
    box-shadow: 0 0 0 2px c.$gray-light;
  }
}

.usa-button--inverse {
  background-color: c.$gray-lighter;
  box-shadow: none;
  color: black;

  &:hover {
    background-color: c.$gray-lightest;
    color: black;
  }

  &:active {
    background-color: #ffffff;
  }

  &:disabled,
  &:hover:disabled {
    background-color: #5b616a;
    color: black;
  }
}
