.filter-chip {
  padding: 3px 8px 5px;
  line-height: unset;
  span {
    padding: 0;
  }
  div {
    height: 100%;
    padding-left: 10px;
    svg {
      display: inline-block;
      vertical-align: middle;
      height: 1rem;
      width: 1rem;
    }
  }
}
