/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

@forward "../components/Alert/Alert.scss";
@forward "../components/Breadcrumbs/Breadcrumbs.scss";
@forward "../components/Button/Button.scss";
@forward "../components/CardChoice/CardChoice.scss";
@forward "../components/CardChoice/CardChoiceGroup.scss";
@forward "../components/Checkbox/Checkbox.scss";
@forward "../components/Datefield/Datefield.scss";
@forward "../components/Dropdown/Dropdown.scss";
@forward "../components/FilterChip/FilterChip.scss";
@forward "../components/Footer/Footer.scss";
@forward "../components/Header/ActionsMenu.scss";
@forward "../components/Header/Header.scss";
@forward "../components/Modal/Modal.scss";
@forward "../components/MultiSelect/MultiSelect.scss";
@forward "../components/Radio/Radio.scss";
@forward "../components/Radio/RadioGroup.scss";
@forward "../components/SiteAlert/SiteAlert.scss";
@forward "../components/StepIndicator/StepIndicator.scss";
@forward "../components/Tabs/Tab.scss";
@forward "../components/Tabs/Tabs.scss";
@forward "../components/UsaBanner/UsaBanner.scss";

@use "macbis-colors" as c;

.usa-link {
  color: c.$primary;
}

.usa-link--light {
  color: c.$gray-lightest;
}

.pointer {
  cursor: pointer;
}

// All focused elements should have a border
*:focus {
  outline: 0.25rem solid c.$focus;
  outline-offset: 0;
}
