@use "../../assets/theme/macbis-colors" as c;

.card-choice {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 26px;
  text-decoration: none;
  &.card-choice--bordered {
    border: solid 2px c.$gray-lighter;
    border-top: none;
    padding: 24px;
  }
  &.card-choice--dark {
    background-color: c.$gray-lightest;
  }
  &:hover {
    background-color: c.$primary-alt-lightest;
    border: solid 2px c.$primary-alt-dark;
    padding: 24px;
    &.card-choice--bordered {
      margin-top: -2px;
    }
  }
  &:focus {
    outline: 0.25rem solid #2491ff;
    outline-offset: 0;
    position: relative;
  }
  .content {
    line-height: 24px;
    .heading {
      color: c.$primary;
      font-weight: 700;
      font-size: 18px;
    }
    .body {
      color: c.$gray;
      font-weight: 400;
      font-size: 16px;
    }
  }
  .select {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: c.$primary;
    span {
      display: flex;
      flex-direction: row;
      align-items: center;
      svg {
        color: c.$primary;
      }
    }
  }
}
