@use "../../assets/theme/macbis-colors" as c;
.card-choice-group {
  .gradient-cap {
    background: linear-gradient(to right, c.$primary, c.$primary-alt);
    border-radius: 4px 4px 0 0;
    display: inline-block;
    height: 8px;
    width: 100%;
    margin: 0;
    position: relative;
    top: 4px;
  }
}
