@use "../../sass/macbis-colors" as c;
.card-choice-group {
  border-radius: 4px;

  .gradient-cap {
    background: linear-gradient(to right, c.$primary, c.$primary-alt);
    border-radius: 4px 4px 0 0;
    display: block;
    height: 8px;
    width: 100%;
  }
  :last-child {
    border-radius: 0 0 4px 4px;
  }
}
