@use "../../assets/theme/macbis-colors" as c;

.tabs {
  .tabs-row {
    border-bottom: 1px solid c.$gray-lighter;
    display: flex;
    flex-direction: row;
  }
  .tabs-content {
    border: 1px solid c.$gray-lighter;
    border-top: none;
    padding: 24px;
  }
}
