@use "../../sass/macbis-colors" as c;

.usa-site-alert {
  button {
    border: none;
    background-color: transparent;
  }

  .usa-alert {
    border: none;
  }
}

.usa-site-alert--info,
.usa-site-alert--info .usa-alert {
  background-color: c.$primary-alt-lightest;

  .usa-alert__text {
    color: c.$primary-darker;
  }
}

.usa-site-alert--emergency {
  .usa-alert {
    background-color: c.$error-dark;

    .usa-alert__body .usa-link {
      color: white;
    }
  }
}

.usa-site-alert .usa-alert .usa-alert__body {
  background-color: transparent;
}
