@use "../../assets/theme/macbis-colors" as c;
// @use "../../assets/img/sprite.svg#success" as success;
// @use "../../assets/img/sprite.svg#info_alt" as info;

.usa-alert {
  button {
    border: none;
    background-color: transparent;
  }
}

.usa-alert--info:before {
  -webkit-mask: url("../../assets/img/usa-icons/info_alt.svg") no-repeat
    center/contain;
  mask: url("../../assets/img/usa-icons/info_alt.svg") no-repeat center/contain;
}

.usa-alert--success:before {
  -webkit-mask: url("../../assets/img/usa-icons/success.svg") no-repeat
    center/contain;
  mask: url("../../assets/img/usa-icons/success.svg") no-repeat center/contain;
}

.usa-alert--warning {
  background-color: c.$warn-lightest;
  border-left-color: c.$warn;
}

.usa-alert--error {
  background-color: c.$error-lightest;
  border-left-color: c.$error;
}

.usa-alert--info {
  background-color: c.$primary-alt-lightest;
  border-left-color: c.$primary-alt-dark;
}

.usa-alert--success {
  background-color: c.$success-lightest;
  border-left-color: c.$success;
}
