// MACBIS Design System colors

// Primary
$primary: #0071bc;
$primary-darker: #205493;
$primary-darkest: #112e51;
$primary-lighter: #d9e8f6;
$base: #212121;
$gray-dark: #323a45;
$gray-light: #aeb0b5;

// Background
$gray: #5b616b;
$gray-medium: #71767a;
$gray-lighter: #d6d7d9;
$gray-lightest: #f1f1f1;

// Secondary
$primary-alt: #02bfe7;
$primary-alt-darker: #046b99;
$primary-alt-dark: #00a6d2;
$primary-alt-light: #9bdaf1;
$primary-alt-lightest: #e1f3f8;

$error: #e31c3d;
$error-darkest: #981b1e;
$error-darker: #b31e22;
$error-dark: #cd2062;
$error-light: #e59393;
$error-lighter: #f5adb9;
$error-lightest: #f8dddd;

// Status Colors
$warn: #fdb81e;
$warn-darkest: #b18115;
$warn-darker: #ca9318;
$warn-dark: #e4a61b;
$warn-light: #f9c642;
$warn-lighter: #fad980;
$warn-lightest: #fff1d2;

$success: #2e8540;
$success-darkest: #174320;
$success-darker: #266e35;
$success-dark: #2a7a3b;
$success-light: #4aa546;
$success-lighter: #94bfa2;
$success-lightest: #e7f4e4;

// Special State
$focus: #3e94cf;
$visited: #4c2c92;

// USWDS color conversion
// #005ea2 c.$primary
// #1a4480 c.$primary-darker
// #f0f0f0 c.$gray-lightest
// #565c65 c.$gray
// #dfe1e2 c.$gray-lighter
// #162e51 c.$primary-darkest
