/*
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
* * * * * ==============================
========================================
========================================
========================================
----------------------------------------
USWDS THEME CUSTOM STYLES
----------------------------------------
!! Copy this file to your project's
   sass root. Don't edit the version
   in node_modules.
----------------------------------------
Custom project SASS goes here.

i.e.
@include u-padding-right('05');
----------------------------------------
*/

.cms-primary-background {
  background-color: #0071bc;
}

.cms-primary-text {
  color: #0071bc;
  box-shadow: #0071bc;
}

.usa-button--outline {
  background-color: #d6d7d9;
  box-shadow: none;
  &:hover:enabled {
    background-color: #f1f1f1;
  }
  &:active {
    background-color: #ffffff;
  }
  &:disabled {
    background-color: #5b616a;
  }
}

// @use "uswds-core" as *;
