@use "../../sass/macbis-colors" as c;

.usa-combo-box {
  .usa-combo-box__input:read-only {
    cursor: pointer;
  }
  .usa-combo-box__input-button-separator {
    line-height: calc(2.5rem - 18px);
  }
  .usa-combo-box__clear-input,
  .usa-combo-box__toggle-list {
    background: unset;
    opacity: unset;
    padding: 0;
    width: 2.5rem;
    svg {
      color: c.$gray;
      height: 100%;
      width: 100%;
    }
  }
  .usa-combo-box__clear-input svg {
    width: 1.5rem;
  }
}
