.usa-footer {
  &.usa-footer__secondary-section,
  &.usa-footer--slim {
    font-family: inherit;
    font-size: inherit;
  }

  .font-sans-2xs {
    font-family: inherit;
  }

  a {
    color: white;

    > svg {
      padding-top: 10px;
    }
  }

  @media only screen and (max-width: 640px) {
    .mobile-text-center {
      text-align: center;
    }
  }
}
